* {
  margin: 0;
  padding: 0;
  
}

::-webkit-scrollbar {
  display: none;
}

@media all and (orientation: portrait) {
  .tile {
    grid-template-columns: 1fr;
  }
}

@media all and (orientation: landscape) {
  .tile {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.notes_display_block {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: transparent;
  background: linear-gradient(66deg, rgba(206,159,252,1) 0%, rgba(115,103,240,1) 100%);
  flex-direction: column;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.App {
  display: flex;
  /*background-color: wheat;*/
  justify-content: center

;
}

.add_btn {
  background: transparent;
  text-decoration: none;
  border: none;
}

.add_button {
  height: 4vh;
  background: transparent;
}

.note_block {
  /* width: 95vw; */
  /* border: 2px solid teal; */
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 6px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  word-break: break-all;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
}

.note_main {
  display: flex;
}

.input {
  width: 40%;
}

.input_btn {
  width: 20%;
}

.note_text {
  margin-left: 5px;
}

.tile {
  padding: 5px;
  padding-top: 0px;
  /* display: flex;
  flex-direction: column; */
  width: 98vw;
  display: grid;
  scroll-behavior: inherit;
  overflow-y: scroll;
}

.header {
  width: 98%;
  height: 5%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_text {
  color: #363853;
  font-size: 26px;
}


.text_btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.text_btn_second {
  margin-left: 0;
  background: transparent;
  border: none;
  padding-top: 5px;
  cursor: pointer;
}