.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.2s;
}

.inputs_ {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_t {
    width: 100%;
    background: white;
    height: 30px;
    outline: none;
    -webkit-appearance: none;
}

.modal.active {
    transform: scale(1);
}

.modal_content {
    z-index: 2;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(255,0,144,0.5);
    height: 200px;
    width: 400px;
}
